Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [11]:
import pandas as pd
#Sample data
data={
'study_time':[2,3,1,4,2,5,3,2,1,4],
'exam_Scores':[75,85,60,90,70,95,80,75,65,88]
    
}

In [14]:
df= pd.DataFrame(data)

In [15]:
df

   study_time  exam_Scores
0           2           75
1           3           85
2           1           60
3           4           90
4           2           70
5           5           95
6           3           80
7           2           75
8           1           65
9           4           88

In [16]:
df.cov()

             study_time  exam_Scores
study_time     1.788889    14.766667
exam_Scores   14.766667   128.900000

In [17]:
df.corr(method='pearson')

             study_time  exam_Scores
study_time     1.000000     0.972443
exam_Scores    0.972443     1.000000

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [20]:
import pandas as pd


# Sample data
data = {
    'Sleep Hours': [7, 6, 8, 5, 6, 7, 8, 6, 5, 7],
    'Job Satisfaction': [6, 5, 8, 4, 5, 7, 9, 5, 4, 6]
}

# Create a DataFrame
df = pd.DataFrame(data)

rho=df.corr(method='spearman')

print("Spearman's Rank Correlation Coefficient (ρ):",rho)

Spearman's Rank Correlation Coefficient (ρ):                   Sleep Hours  Job Satisfaction
Sleep Hours          1.000000          0.987341
Job Satisfaction     0.987341          1.000000

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [31]:
import numpy as np
import pandas as pd

# Sample data (replace with your dataset)
data = {
    'Hours of Exercise': [3, 5, 2, 4, 3, 6, 2, 4, 5, 3],  # Exercise hours data for 50 participants
    'BMI': [25.2, 30.1, 22.5, 27.8, 24.3, 29.5, 21.7, 28.2, 31.0, 25.9]  # BMI data for 50 participants
}
df=pd.DataFrame(data)

ps=df.corr(method='pearson')

print("Pearson Correlation Coefficient (r):", ps)

Pearson Correlation Coefficient (r):                    Hours of Exercise       BMI
Hours of Exercise           1.000000  0.936626
BMI                         0.936626  1.000000

In [32]:
from scipy.stats import spearmanr

# Calculate Spearman's rank correlation coefficient
spearman_correlation, _ = spearmanr(df['Hours of Exercise'], df['BMI'])

print("Spearman's Rank Correlation Coefficient (ρ):", spearman_correlation)

Spearman's Rank Correlation Coefficient (ρ): 0.9413975687412381

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [36]:
import pandas as pd
data = {
    'TV Hours': [2, 3, 1, 4, 2, 5, 3, 2, 1, 4],  # TV hours data for 50 participants
    'Physical Activity Level': [3, 2, 4, 1, 3, 2, 4, 1, 5, 2]  # Physical activity data for 50 participants
}

df=pd.DataFrame(data)

In [37]:
df

   TV Hours  Physical Activity Level
0         2                        3
1         3                        2
2         1                        4
3         4                        1
4         2                        3
5         5                        2
6         3                        4
7         2                        1
8         1                        5
9         4                        2

In [39]:
df.corr(method='pearson')

                         TV Hours  Physical Activity Level
TV Hours                 1.000000                -0.614907
Physical Activity Level -0.614907                 1.000000

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:

In [47]:
import pandas as pd

# Create a DataFrame with the given data
data = {
    'Age (Years)': [25, 42, 37, 19, 31, 28],
    'Soft Drink Preference': ['Coke', 'Pepsi', 'Mountain Dew', 'Coke', 'Pepsi', 'Coke']
}

df = pd.DataFrame(data)

# Convert soft drink preference to numerical values (arbitrary assignment)
# You can choose different numerical values or encoding methods as needed
preference_mapping = {
    'Coke': 1,
    'Pepsi': 2,
    'Mountain Dew': 3
}

df['Preference Numerical'] = df['Soft Drink Preference'].map(preference_mapping)

# Calculate Pearson correlation coefficient
pearson_correlation = df['Age (Years)'].corr(df['Preference Numerical'])

print("Pearson Correlation Coefficient (r):", pearson_correlation)

Pearson Correlation Coefficient (r): 0.7587035441865058

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [50]:
import pandas as pd

# Sample data (replace with your actual dataset)
data = {
    'Sales Calls per Day': [10, 15, 12, 8, 11, 9, 14, 7, 13, 10],  # Sales calls data for 30 sales representatives
    'Sales per Week': [30, 45, 36, 24, 33, 27, 42, 21, 39, 30]  # Sales data for 30 sales representatives
}

df = pd.DataFrame(data)

# Calculate Pearson correlation coefficient
pearson_correlation = df.corr(method='pearson')

print("Pearson Correlation Coefficient (r):", pearson_correlation)

Pearson Correlation Coefficient (r):                      Sales Calls per Day  Sales per Week
Sales Calls per Day                  1.0             1.0
Sales per Week                       1.0             1.0